body {
    font-family: sans-serif;
}
nav a {
    border-bottom:3px solid black;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    color: black;
    margin: 0 25px;
    
}
nav {
    text-align: center;

}
h1 {
    text-align: center;
}
img {
    border-left:10px black dotted;
}
p {
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}
footer {
    background-color: black;
    padding: 5px;
}
footer p {
    background-color: white;
    border-radius: 0px;
}
